* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  position: relative;
}
body .header {
  position: relative;
  width: 365px;
  display: flex;
  align-items: center;
  gap: 128px;
  margin: 47px auto 40px auto;
}
body .header__wrapper {
  width: 365px;
  display: flex;
  align-items: center;
  gap: 126px;
}
body .header__wrapper .header__headline {
  font-size: 43px;
  font-weight: 600;
  line-height: 58.65px;
  text-align: left;
}
body .header__wrapper .header__buttonsBox {
  display: flex;
  gap: 21px;
}
body .header__wrapper .header__buttonsBox .header__searchButton, body .header__wrapper .header__buttonsBox .header__themeButton {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  border: none;
  transition: 0.3s;
}
body .header__wrapper .header__buttonsBox .header__searchButton:hover, body .header__wrapper .header__buttonsBox .header__themeButton:hover {
  transform: scale(1.2);
}
body .header__wrapper .header__buttonsBox .header__themeButton {
  background-size: 30px 30px;
}
body .header__wrapper .header__buttonsBox .header__themeButton:hover {
  transform: scale(1.2);
}
body .header__searchBarBox {
  display: none;
  position: absolute;
  right: 1px;
  background-color: rgb(37, 37, 37);
}
body .header__searchBarBox::-webkit-search-cancel-button {
  display: none;
}
body .header__searchBarBox::-ms-clear {
  display: none;
}
body .header__searchBarBox .header__searchBar {
  height: 50px;
  width: 365px;
  border: none;
  border-radius: 30px;
  padding: 11px 28px;
  font-weight: 300;
  font-size: 20px;
  line-height: 27.28px;
  outline: none;
}
body .header__searchBarBox .header__searchBar::-webkit-search-cancel-button {
  display: none;
}
body .header__searchBarBox .header__searchBar::-ms-clear {
  display: none;
}
body .header__searchBarBox .header__searchBar::-moz-placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 27.28px;
}
body .header__searchBarBox .header__searchBar::placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 27.28px;
}
body .header__searchBarBox .header__closeButton {
  position: absolute;
  right: 20px;
  top: 14px;
  height: 24px;
  width: 24px;
  border: none;
}
body .header__searchBarBox .header__searchBarButton {
  position: absolute;
  top: 14px;
  right: 45px;
  height: 24px;
  width: 24px;
  background: url(./images/search.svg) center;
  border: none;
}
body .header__editorButtonBox, body .header__rewriteEditor {
  position: absolute;
  height: 60px;
  width: 365px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
body .header__editorButtonBox .header__backButton, body .header__editorButtonBox .header__rewriteEditor .header__rewriteBackButton, body .header__editorButtonBox .header__rewriteEditor .header__rewriteSaveButton, body .header__rewriteEditor .header__editorButtonBox .header__rewriteBackButton, body .header__rewriteEditor .header__editorButtonBox .header__rewriteSaveButton, body .header__rewriteEditor .header__backButton, body .header__rewriteEditor .header__rewriteBackButton, body .header__rewriteEditor .header__rewriteSaveButton, body .header__editorButtonBox .header__buttonsWrapper .header__visibilityButton, body .header__rewriteEditor .header__buttonsWrapper .header__visibilityButton, body .header__editorButtonBox .header__buttonsWrapper .header__saveButton, body .header__rewriteEditor .header__buttonsWrapper .header__saveButton {
  height: 50px;
  width: 50px;
  background: rgb(59, 59, 59) url(./images/back.svg) no-repeat center;
  border: none;
  border-radius: 15px;
  transition: 0.3s;
}
body .header__editorButtonBox .header__backButton:hover, body .header__rewriteEditor .header__backButton:hover, body .header__rewriteEditor .header__rewriteBackButton:hover, body .header__rewriteEditor .header__rewriteSaveButton:hover, body .header__editorButtonBox .header__buttonsWrapper .header__visibilityButton:hover, body .header__rewriteEditor .header__buttonsWrapper .header__visibilityButton:hover, body .header__editorButtonBox .header__buttonsWrapper .header__saveButton:hover, body .header__rewriteEditor .header__buttonsWrapper .header__saveButton:hover {
  transform: scale(1.2);
}
body .header__editorButtonBox .header__buttonsWrapper, body .header__rewriteEditor .header__buttonsWrapper {
  display: flex;
  gap: 21px;
}
body .header__editorButtonBox .header__buttonsWrapper .header__visibilityButton, body .header__rewriteEditor .header__buttonsWrapper .header__visibilityButton, body .header__editorButtonBox .header__buttonsWrapper .header__saveButton, body .header__rewriteEditor .header__buttonsWrapper .header__saveButton {
  background: rgb(59, 59, 59) url(./images/visibility.svg) no-repeat center;
  transition: 0.3s;
  height: 50px;
  width: 50px;
}
body .header__editorButtonBox .header__buttonsWrapper .header__visibilityButton:hover, body .header__rewriteEditor .header__buttonsWrapper .header__visibilityButton:hover, body .header__editorButtonBox .header__buttonsWrapper .header__saveButton:hover, body .header__rewriteEditor .header__buttonsWrapper .header__saveButton:hover {
  transform: scale(1.2);
}
body .header__editorButtonBox .header__buttonsWrapper .header__saveButton, body .header__rewriteEditor .header__buttonsWrapper .header__saveButton {
  background: rgb(59, 59, 59) url(./images/save.svg) no-repeat center;
  transition: 0.3s;
  height: 50px;
  width: 50px;
}
body .header__editorButtonBox .header__buttonsWrapper .header__saveButton:hover, body .header__rewriteEditor .header__buttonsWrapper .header__saveButton:hover {
  transform: scale(1.2);
}
body .header__rewriteEditor {
  justify-content: space-between;
}
body .header__rewriteEditor .header__rewriteBackButton, body .header__rewriteEditor .header__rewriteSaveButton {
  height: 50px;
  width: 50px;
}
body .header__rewriteEditor .header__rewriteSaveButton {
  background: rgb(59, 59, 59) url(./images/save.svg) no-repeat center;
  height: 50px;
  width: 50px;
}
body .main {
  position: relative;
  min-height: 520px;
  width: 365px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 174px;
  margin: 0 auto 49px auto;
}
body .main__emptyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.27px;
}
body .main__emptyContent .main__emptyPageImg {
  height: 250px;
  width: 350px;
  background: url(./images/emptyPageImg.png) no-repeat center top;
  background-size: 300px 289.75px;
}
body .main__emptyContent .main__paragraph {
  font-size: 20px;
  font-weight: 300;
  line-height: 27.28px;
  text-align: left;
}
body .main__notesWrapper {
  min-height: 260px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  display: none;
}
body .main__notesWrapper .main__note {
  height: 150px;
  width: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: #b3b8bc;
}
body .main__notesWrapper .main__note .main__headlineAndButtonWrapper {
  display: flex;
  width: 300px;
  align-items: center;
}
body .main__notesWrapper .main__note .main__headlineAndButtonWrapper .main__noteHeadline {
  width: 270px;
  font-size: 25px;
  font-weight: 400;
  line-height: 34.1px;
  text-align: left;
  color: black;
}
body .main__notesWrapper .main__note .main__headlineAndButtonWrapper .main__deleteButton {
  height: 30px;
  width: 30px;
  border: none;
  background: url(./images/delete.svg) no-repeat center;
  background-size: 30px 30px;
  mix-blend-mode: soft-light;
}
body .main__notesWrapper .main__note .main__dateCategory--wrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
body .main__notesWrapper .health {
  background-color: #b0d47c;
}
body .main__notesWrapper .money {
  background-color: #eb9513;
}
body .main__notesWrapper .plans {
  background-color: #5095cf;
}
body .main__notesWrapper .hobby {
  background-color: #c14c9c;
}
body .main__notesWrapper .goals {
  background-color: #f8e473;
}
body .main__notesWrapper .work {
  background-color: #d56151;
}
body .main__notFoundContent {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 5px;
  width: 370px;
}
body .main__notFoundContent .main__notFoundImg {
  width: 370px;
  height: 239.1px;
  background: url(./images/not-found-pic.png) no-repeat;
  background-size: 370px;
}
body .main__notFoundContent .main__paragraphNotFound {
  font-size: 20px;
  font-weight: 300;
  line-height: 27.28px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}
body .main__buttonBox {
  position: fixed;
  height: 70px;
  width: 360px;
  top: 535px;
  display: flex;
  justify-content: end;
}
body .main__buttonBox .main__createButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 70px;
  width: 70px;
  background: rgb(37, 37, 37) url(./images/add.svg) no-repeat center;
  border-radius: 100%;
  border: none;
  box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
body .main__buttonBox .main__createButton:hover {
  transform: scale(1.2);
}
body .main__form, body .main__editForm {
  position: absolute;
  height: 650px;
  width: 365px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  display: none;
}
body .main__form .main__formTitle, body .main__form .main__editForm .main__editTitle, body .main__editForm .main__form .main__editTitle, body .main__editForm .main__formTitle, body .main__editForm .main__editTitle {
  font-weight: 400;
  font-size: 48px;
  line-height: 65.47px;
  background-color: inherit;
  border: none;
  outline: none;
}
body .main__form .main__formText, body .main__form .main__editForm .main__editText, body .main__editForm .main__form .main__editText, body .main__editForm .main__formText, body .main__editForm .main__editText {
  resize: vertical;
  min-height: 500px;
  font-size: 23px;
  font-weight: 400;
  line-height: 31.37px;
  text-align: left;
  background-color: inherit;
  border: none;
  outline: none;
}
body .main__form .main__tagBox, body .main__editForm .main__tagBox {
  display: flex;
  justify-content: space-between;
  height: 25px;
}
body .main__form .main__tagBox .tagButton, body .main__editForm .main__tagBox .tagButton {
  width: 55px;
  height: 25px;
  border: none;
  border-radius: 15px;
}
body .main__form .main__tagBox .tagButton:hover, body .main__editForm .main__tagBox .tagButton:hover {
  color: rgb(255, 255, 255);
}
body .main__form .main__tagBox .healthButton, body .main__editForm .main__tagBox .healthButton {
  background-color: #b0d47c;
}
body .main__form .main__tagBox .moneyButton, body .main__editForm .main__tagBox .moneyButton {
  background-color: #eb9513;
}
body .main__form .main__tagBox .plansButton, body .main__editForm .main__tagBox .plansButton {
  background-color: #5095cf;
}
body .main__form .main__tagBox .hobbyButton, body .main__editForm .main__tagBox .hobbyButton {
  background-color: #c14c9c;
}
body .main__form .main__tagBox .goalsButton, body .main__editForm .main__tagBox .goalsButton {
  background-color: #f8e473;
}
body .main__form .main__tagBox .workButton, body .main__editForm .main__tagBox .workButton {
  background-color: #d56151;
}
body .main__editForm {
  z-index: 3;
}
body .deleteMessageWrapper {
  height: 100%;
  width: 365px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  margin: auto;
  background: url(./images/deleteBG.png);
  z-index: 3;
  border-radius: 14px;
  display: none;
}
body .deleteMessageWrapper .deleteMessage {
  height: 236px;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: auto;
  border-radius: 20px;
}
body .deleteMessageWrapper .deleteMessage .deleteInfoIcon {
  height: 36px;
  width: 36px;
}
body .deleteMessageWrapper .deleteMessage .deleteMessageP {
  width: 252px;
  font-size: 23px;
  font-weight: 400;
  line-height: 31.37px;
  text-align: center;
}
body .deleteMessageWrapper .deleteMessage .buttonWrapper {
  display: flex;
  width: 262px;
  justify-content: space-between;
}
body .deleteMessageWrapper .deleteMessage .buttonWrapper .buttonFromDelMessage {
  width: 112px;
  height: 39px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  text-align: center;
  transition: 0.3s;
}
body .deleteMessageWrapper .deleteMessage .buttonWrapper .buttonFromDelMessage:hover {
  transform: scale(1.2);
}
body .deleteMessageWrapper .deleteMessage .buttonWrapper .deleteButton {
  background-color: #ff0000;
}
body .deleteMessageWrapper .deleteMessage .buttonWrapper .cancelButton {
  background-color: rgb(48, 190, 113);
}

body[data-theme=dark] {
  background-color: rgb(37, 37, 37);
}
body[data-theme=dark] .header__wrapper .header__headline {
  color: rgb(255, 255, 255);
}
body[data-theme=dark] .header__wrapper .header__buttonsBox .header__searchButton, body[data-theme=dark] .header__wrapper .header__buttonsBox .header__themeButton {
  background: rgb(59, 59, 59) url(./images/search.svg) no-repeat center;
}
body[data-theme=dark] .header__wrapper .header__buttonsBox .header__themeButton {
  background-color: rgb(59, 59, 59);
  background-image: url(./images/lightThemeSun.svg);
  background-size: 30px 30px;
}
body[data-theme=dark] .header__searchBarBox {
  background-color: rgb(37, 37, 37);
}
body[data-theme=dark] .header__searchBarBox .header__searchBar {
  background-color: rgb(59, 59, 59);
  color: rgb(255, 255, 255);
}
body[data-theme=dark] .header__searchBarBox .header__searchBar::-moz-placeholder {
  color: rgb(255, 255, 255);
}
body[data-theme=dark] .header__searchBarBox .header__searchBar::placeholder {
  color: rgb(255, 255, 255);
}
body[data-theme=dark] .header__searchBarBox .header__closeButton {
  background: url(./images/close.svg) center;
}
body[data-theme=dark] .header__editorButtonBox, body[data-theme=dark] .header__rewriteEditor {
  background-color: rgb(37, 37, 37);
}
body[data-theme=dark] .main__emptyContent .main__paragraph {
  color: rgb(255, 255, 255);
}
body[data-theme=dark] .main__notFoundContent .main__paragraphNotFound {
  color: rgb(255, 255, 255);
}
body[data-theme=dark] .main__form, body[data-theme=dark] .main__editForm {
  background-color: rgb(37, 37, 37);
}
body[data-theme=dark] .main__form .main__formTitle, body[data-theme=dark] .main__editForm .main__formTitle, body[data-theme=dark] .main__editForm .main__editTitle {
  color: rgb(255, 255, 255);
}
body[data-theme=dark] .main__form .main__formTitle::-moz-placeholder, body[data-theme=dark] .main__editForm .main__formTitle::-moz-placeholder, body[data-theme=dark] .main__editForm .main__editTitle::-moz-placeholder {
  color: rgb(59, 59, 59);
}
body[data-theme=dark] .main__form .main__formTitle::placeholder, body[data-theme=dark] .main__editForm .main__formTitle::placeholder, body[data-theme=dark] .main__editForm .main__editTitle::placeholder {
  color: rgb(59, 59, 59);
}
body[data-theme=dark] .main__form .main__formText, body[data-theme=dark] .main__editForm .main__formText, body[data-theme=dark] .main__editForm .main__editText {
  color: rgb(255, 255, 255);
}
body[data-theme=dark] .main__form .main__formText::-moz-placeholder, body[data-theme=dark] .main__editForm .main__formText::-moz-placeholder, body[data-theme=dark] .main__editForm .main__editText::-moz-placeholder {
  color: rgb(59, 59, 59);
}
body[data-theme=dark] .main__form .main__formText::placeholder, body[data-theme=dark] .main__editForm .main__formText::placeholder, body[data-theme=dark] .main__editForm .main__editText::placeholder {
  color: rgb(59, 59, 59);
}
body[data-theme=dark] .deleteMessageWrapper .deleteMessage {
  background-color: rgb(37, 37, 37);
}
body[data-theme=dark] .deleteMessageWrapper .deleteMessage .deleteMessageP {
  color: rgb(255, 255, 255);
}
body[data-theme=dark] .deleteMessageWrapper .deleteMessage .buttonWrapper .buttonFromDelMessage {
  color: rgb(255, 255, 255);
}

body[data-theme=light] {
  background-color: rgb(250, 250, 211);
}
body[data-theme=light] .header__wrapper .header__headline {
  color: rgb(37, 37, 37);
}
body[data-theme=light] .header__wrapper .header__buttonsBox .header__searchButton, body[data-theme=light] .header__wrapper .header__buttonsBox .header__themeButton {
  background: rgb(37, 37, 37) url(./images/search.svg) no-repeat center;
}
body[data-theme=light] .header__wrapper .header__buttonsBox .header__themeButton {
  background: rgba(249, 225, 116, 0.99) url(./images/darkThemeMoon.svg) no-repeat center;
  background-size: 45px 45px;
}
body[data-theme=light] .header__searchBarBox {
  background-color: rgb(250, 250, 211);
}
body[data-theme=light] .header__searchBarBox .header__searchBar {
  background-color: rgba(249, 225, 116, 0.99);
  color: rgb(37, 37, 37);
}
body[data-theme=light] .header__searchBarBox .header__searchBar::-moz-placeholder {
  color: rgb(59, 59, 59);
}
body[data-theme=light] .header__searchBarBox .header__searchBar::placeholder {
  color: rgb(59, 59, 59);
}
body[data-theme=light] .header__searchBarBox .header__closeButton {
  background: url(./images/searchCloseBlack.svg) center no-repeat;
}
body[data-theme=light] .header__editorButtonBox, body[data-theme=light] .header__rewriteEditor {
  background-color: rgb(250, 250, 211);
}
body[data-theme=light] .main__emptyContent .main__paragraph {
  color: rgb(37, 37, 37);
}
body[data-theme=light] .main__notFoundContent .main__paragraphNotFound {
  color: rgb(37, 37, 37);
}
body[data-theme=light] .main__form, body[data-theme=light] .main__editForm {
  background-color: rgb(250, 250, 211);
}
body[data-theme=light] .main__form .main__formTitle, body[data-theme=light] .main__editForm .main__formTitle, body[data-theme=light] .main__editForm .main__editTitle {
  color: rgb(37, 37, 37);
}
body[data-theme=light] .main__form .main__formTitle::-moz-placeholder, body[data-theme=light] .main__editForm .main__formTitle::-moz-placeholder, body[data-theme=light] .main__editForm .main__editTitle::-moz-placeholder {
  color: rgba(249, 225, 116, 0.99);
}
body[data-theme=light] .main__form .main__formTitle::placeholder, body[data-theme=light] .main__editForm .main__formTitle::placeholder, body[data-theme=light] .main__editForm .main__editTitle::placeholder {
  color: rgba(249, 225, 116, 0.99);
}
body[data-theme=light] .main__form .main__formText, body[data-theme=light] .main__editForm .main__formText, body[data-theme=light] .main__editForm .main__editText {
  color: rgb(37, 37, 37);
}
body[data-theme=light] .main__form .main__formText::-moz-placeholder, body[data-theme=light] .main__editForm .main__formText::-moz-placeholder, body[data-theme=light] .main__editForm .main__editText::-moz-placeholder {
  color: rgba(249, 225, 116, 0.99);
}
body[data-theme=light] .main__form .main__formText::placeholder, body[data-theme=light] .main__editForm .main__formText::placeholder, body[data-theme=light] .main__editForm .main__editText::placeholder {
  color: rgba(249, 225, 116, 0.99);
}
body[data-theme=light] .deleteMessageWrapper .deleteMessage {
  background-color: rgb(250, 250, 211);
}
body[data-theme=light] .deleteMessageWrapper .deleteMessage .deleteMessageP {
  color: rgb(37, 37, 37);
}
body[data-theme=light] .deleteMessageWrapper .deleteMessage .buttonWrapper .buttonFromDelMessage {
  color: rgb(250, 250, 211);
}/*# sourceMappingURL=style.css.map */