$backgroundBlack: rgba(37, 37, 37, 1);
$backgroundLight: rgb(250, 250, 211);
$buttonsGrey: rgba(59, 59, 59, 1);
$buttonsLight: rgba(249, 225, 116, 0.99);
$textWhite: rgba(255, 255, 255, 1);
$health: #b0d47c;
$money: #eb9513;
$plans: #5095cf;
$hobby: #c14c9c;
$goals: #f8e473;
$work: #d56151;
$deleteRed: #ff0000;
$green: rgba(48, 190, 113, 1);
$withoutTag: #b3b8bc;