@import 'utils/vars';
@import 'utils/themes';
@import 'blocks/header';

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 22px;

  .main {
    position: relative;
    min-height: 520px;
    width: 370px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 174px;
    margin: 0 auto 49px auto;
  
    &__emptyContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6.27px;
  
      .main__emptyPageImg {
        height: 250px;
        width: 350px;
        background: url(../images/emptyPageImg.png) no-repeat center top;
        background-size: 300px 289.75px;
      }
  
      .main__paragraph {
        font-size: 20px;
        font-weight: 300;
        line-height: 27.28px;
        text-align: left;
      }
    }
  
    &__notesWrapper {
      min-height: 260px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      // display: none;
      padding-top: 2px;
  
      .main__note {
        height: 150px;
        width: 364px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        background-color: $withoutTag;
  
        .main__headlineAndButtonWrapper {
          display: flex;
          width: 300px;
          align-items: center;
          justify-content: space-between;
  
          .main__noteHeadline {
            width: 270px;
            font-size: 25px;
            font-weight: 400;
            line-height: 34.1px;
            text-align: left;
            color: black;
          }
  
          .main__deleteButton {
            height: 30px;
            width: 30px;
            border: none;
            background: url(../images/delete.svg) no-repeat center;
            background-size: 30px 30px;
            mix-blend-mode: soft-light;
            padding: 10px 0 50px 50px;
          }
        }
    
        .main__dateCategory--wrapper {
          width: 300px;
          display: flex;
          justify-content: space-between;
        }
      }
  
      .health {
        background-color: $health;
      }
  
      .money {
        background-color: $money;
      }
  
      .plans {
        background-color: $plans;
      }
  
      .hobby {
        background-color: $hobby;
      }
  
      .goals {
        background-color: $goals;
      }
  
      .work {
        background-color: $work;
      }
    }
  
    &__notFoundContent {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 5px;
      width: 370px;
  
      .main__notFoundImg {
        width: 370px;
        height: 239.1px;
        background: url(../images/not-found-pic.png) no-repeat;
        background-size: 370px;
      }
  
      .main__paragraphNotFound {
        font-size: 20px;
        font-weight: 300;
        line-height: 27.28px;
        text-align: center;
        color: $textWhite;
        margin-top: 20px;
      }
    }
  
    &__buttonBox {
      position: absolute;
      height: 0;
      width: 360px;
      top: 535px;
      display: flex;
      justify-content: end;
  
      .main__createButton {
        position: fixed;
        bottom: 40px;
        height: 70px;
        width: 70px;
        border-radius: 100%;
        border: none;
        box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.4);
        transition: 0.3s;
  
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  
    &__editForm {
      @extend .main__form;
      z-index: 3;
  
      .main__editTitle {
        @extend .main__formTitle;
      }
  
      .main__editText {
        @extend .main__formText;
      }
    }
  }

  .formContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    min-height: 520px;
    z-index: 3;
    display: none;

    .header__editorButtonBox {
      height: 60px;
      width: 365px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
  
      .header__backButton {
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 15px;
        transition: 0.3s;
  
        &:hover {
          transform: scale(1.2);
        }
      }
  
      .header__buttonsWrapper {
        display: flex;
        gap: 21px;

        .header__saveButton {
          transition: 0.3s;
          height: 50px;
          width: 50px;
          border: none;
          border-radius: 15px;
  
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    .main__form {
      height: 650px;
      width: 370px;
      display: flex;
      flex-direction: column;
      gap: 40px;
  
      .main__formTitle {
        font-weight: 400;
        font-size: 48px;
        line-height: 65.47px;
        background-color: inherit;
        border: none;
        outline: none;
        border-radius: 10px;
      }
  
      .main__formText {
        resize: vertical;
        min-height: 500px;
        font-size: 23px;
        font-weight: 400;
        line-height: 31.37px;
        text-align: left;
        background-color: inherit;
        border: none;
        outline: none;
        border-radius: 10px;
      }

      .emptyInput {
        box-shadow: #9A1212 0 0 15px 1px;
      }
  
      .main__tagBox {
        display: flex;
        justify-content: space-between;
        height: 25px;
  
          .tagButton {
            width: 55px;
            height: 25px;
            margin: 4px;
            border: none;
            border-radius: 15px;
          }

          .choosenTag {
            color: $textWhite;
          }
  
          .healthButton {
            background-color: $health;
          }
  
          .moneyButton {
            background-color: $money;
          }
  
          .plansButton {
            background-color: $plans;
          }
  
          .hobbyButton {
            background-color: $hobby;
          }
  
          .goalsButton {
            background-color: $goals;
          }
  
          .workButton {
            background-color: $work;
          }
      }
    }
  }

  .editFormContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    min-height: 520px;
    z-index: 3;
    display: none;

    .header__rewriteEditor {
      height: 60px;
      width: 365px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      .header__rewriteBackButton {
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 15px;
        transition: 0.3s;
  
        &:hover {
          transform: scale(1.2);
        }
      }
  
      .header__rewriteSaveButton {
        transition: 0.3s;
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 15px;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .main__editForm {
      height: 650px;
      width: 370px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      z-index: 3;

      .main__editTitle {
        font-weight: 400;
        font-size: 48px;
        line-height: 65.47px;
        background-color: inherit;
        border: none;
        outline: none;
        border-radius: 10px;
      }

      .main__editText {
        resize: vertical;
        min-height: 500px;
        font-size: 23px;
        font-weight: 400;
        line-height: 31.37px;
        text-align: left;
        background-color: inherit;
        border: none;
        outline: none;
        border-radius: 10px;
      }

      .emptyInput {
        box-shadow: #9A1212 0 0 15px 1px;
      }
    }
  }
  
  .deleteMessageWrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    margin: auto;
    backdrop-filter: blur(2px);
    z-index: 3;
    border-radius: 14px;
    display: none;
  
    .deleteMessage {
      position: absolute;
      height: 236px;
      width: 330px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin: auto;
      border-radius: 20px;
  
      .deleteInfoIcon {
        height: 36px;
        width: 36px;
      }
  
      .deleteMessageP {
        width: 252px;
        font-size: 23px;
        font-weight: 400;
        line-height: 31.37px;
        text-align: center;
      }
  
      .buttonWrapper {
        display: flex;
        width: 262px;
        justify-content: space-between;
  
        .buttonFromDelMessage {
          width: 112px;
          height: 39px;
          border: none;
          border-radius: 5px;
  
          font-size: 18px;
          font-weight: 400;
          line-height: 24.55px;
          text-align: center;
          transition: 0.3s;
        }
  
        .buttonFromDelMessage:hover {
          transform: scale(1.2);
        }
  
        .deleteButton {
          background-color: $deleteRed;
        }
  
        .cancelButton {
          background-color: $green;
        }
      }
    }
  }
}

